.footer {
  position: absolute;
  border: 1px solid black;
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
.chats {
  font-size: 40px;
  margin-left: 17%;
  margin-right: 17%;
  font-size: 40px;
  color: black;
}
.friends {
  font-size: 40px;
  font-size: 40px;
  color: black;
}
.mypage {
  font-size: 40px;
  color: black;
}
